In [1]:
import pandas as pd
from nsepy import get_history
from datetime import date

In [2]:
symbol = ['TATACONSUM','TITAN','HINDUNILVR','TATAMOTORS','LT','MARUTI','HDFC','EICHERMOT','NESTLEIND','M&M','BPCL','BRITANNIA','BHARTIARTL','CIPLA','BAJFINANCE','ASIANPAINT','ULTRACEMCO','BAJAJ-AUTO','SBILIFE','NTPC','ITC','HDFCBANK','KOTAKBANK','BAJAJFINSV','SHREECEM','APOLLOHOSP','COALINDIA','ADANIPORTS','HINDALCO','GRASIM','HDFCLIFE','INFY','HEROMOTOCO','RELIANCE','UPL','TCS','TECHM','DIVISLAB','ICICIBANK','SBIN','SUNPHARMA','INDUSINDBK','ONGC','AXISBANK','DRREDDY','JSWSTEEL','WIPRO','HCLTECH','POWERGRID','TATASTEEL'
]
df= []
df = pd.DataFrame(df)
counter = 0
for i in symbol:
    data = get_history(symbol=i,start=date(2022,4,1), end= date(2022,8,5))
    data = pd.DataFrame(data)
    df = pd.concat([df,data])
df.to_csv('Nifty_50_stocks.csv',index=True)

In [3]:
df1 = pd.read_csv("D:/Residency 2/FP 1/Stock data extraction/Nifty_50_stocks.csv")

In [4]:
df1['MA5'] = df1['Close'].rolling(window = 5).mean()

In [5]:
df1['ROC'] = (df1['MA5']-df1['Close'])/df1['MA5']

In [8]:
df1.to_csv('MA5 roc.csv')

In [7]:
df1.tail()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble,MA5,ROC
4395,2022-08-01,TATASTEEL,EQ,107.60,110.50,111.45,106.15,108.25,108.25,108.42,125365761,1.359219e+15,468883,46049399,0.3673,445.02,0.756753
4396,2022-08-02,TATASTEEL,EQ,108.25,108.00,108.00,105.35,106.90,107.00,106.84,64935371,6.937672e+14,279505,25645011,0.3949,276.52,0.613048
4397,2022-08-03,TATASTEEL,EQ,107.00,107.00,108.45,106.00,107.10,107.05,106.93,61428846,6.568325e+14,235976,24921187,0.4057,106.05,-0.009430
4398,2022-08-04,TATASTEEL,EQ,107.05,107.50,109.50,106.05,107.60,107.70,107.86,79526154,8.577818e+14,275745,21960173,0.2761,107.52,-0.001674
4399,2022-08-05,TATASTEEL,EQ,107.70,107.65,109.25,107.10,107.30,107.35,108.04,54469112,5.885014e+14,179580,21748810,0.3993,107.47,0.001117